<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674186545445-42g89k0o8l80lomcia22qsq6d5t2231h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674186545445-42g89k0o8l80lomcia22qsq6d5t2231h</string>
	<key>API_KEY</key>
	<string>AIzaSyAPRedh2W3nXi17MLKvZ6yYADNLTD6e78o</string>
	<key>GCM_SENDER_ID</key>
	<string>674186545445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Queued</string>
	<key>PROJECT_ID</key>
	<string>queued-a6d38</string>
	<key>STORAGE_BUCKET</key>
	<string>queued-a6d38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:674186545445:ios:828ef4448a53f729b032cc</string>
	<key>DATABASE_URL</key>
	<string>https://queued-a6d38.firebaseio.com</string>
</dict>
</plist>
